.inp-qty-product {
  display: inline !important;
  width: 10% !important;
  margin-left: 10px;
  margin-right: 5px;
}

.row-table-products {
  padding-top: 25px;
}

.span-stock {
  padding-left: 10px;
}

.col-client-name {
  width: 60%;
  display: inline-block;
}

.col-delivery-date {
  width: 25%;
  display: inline-block;
  padding-left: 10px;
}

.inp-products {
  display: inline-flex;
  width: 60%;
}

.total {
  float: right;
  margin-right: 5px;
}

.img-logo {
  width: 250px;
}

.col-logo {
  width: 25% !important;
  flex: auto !important;
}

.col-logo-desc {
  width: 75% !important;
  flex: auto !important;
  font-size: 25px;
  margin-top: 52px !important;
}

.row-top {
  top: -100000px;
  height: 5px;
  background-color: #34A77B;
}

.container-form {
  padding-top: 30px;
}